

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Sinnoh Pokedex</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/styles.css') }}">
    </head>
    <body>
        <div id="bg">
    <div id="wrapper">
    <div class="topnav">
        <a href="main.html">Home</a>
        <a href="search.html">Search</a>
        <a href="view_pokemon.html">Pokemon</a>
        <a href="view_types.html">Types</a>
        <a href="view_moves.html" >Moves</a>
        <a href="view_locations.html" >Locations</a>
        <a href="view_gym_leaders.html" >Gym Leaders</a>
        <a href="view_pokemon_moves.html">Manage Pokemon Moves</a>
        <a href="view_pokemon_locations.html" class="active">Manage Pokemon Locations</a>
      </div>
    <h1>
        View Pokemon Locations
    </h1>
    <p>
        Here you may find information about the particular locations each Pokemon can be found within the Sinnoh Region. You may add, update, or delete these relationships.  *NOTE: Not all Pokemon have a locations. Some can only be obtained through trading or in-game events. 
    </p>
    <p class="center">
    <button onclick="window.location.href='/add_pokemon_location.html';" type="button" class="btn btn-primary">Add a Pokemon Location</button>
    </p>
    <fieldset>
    <table class="table">
        <h2>
            View Pokemon Locations
         </h2>
         <table>
             <thead>
                 <tr>
                     <th>Pokemon ID</th>
                     <th>Pokemon Name</th>
                     <th>Location ID</th>
                     <th>Location Name</th>
                 </tr>
             </thead>
             <tbody>
                {% for pl in pokemon_locations %}
                 <tr>
                    <td>{{ pl[0] }}</td>
                    <td>{{ pl[1] }}</td>
                    <td>{{ pl[2] }}</td>
                    <td>{{ pl[3] }}</td>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</fielset>

</html>

    